<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Gad Zone</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/admin/" class="logo d-flex align-items-center">
        <img src="/assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Account
            <div class="dropdown-menu bg-white rounded-0 border-0 m-0">
              <a href="/admin/logout" class="dropdown-item">Logout</a>
            </div>
          </div>
         
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

 <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed active" href="/admin/">
          <i class="bi bi-grid"></i>
          <span>Home</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed " href="/admin/products">
          <i class="bi bi-grid"></i>
          <span>Products</span>
        </a>
      </li><!-- End Dashboard Nav -->

           <li class="nav-item">
        <a class="nav-link collapsed " href="/admin/showCategories">
          <i class="bi bi-grid"></i>
          <span>Categories</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed " href="/admin/users">
          <i class="bi bi-grid"></i>
          <span>Users</span>
        </a>
      </li><!-- End Dashboard Nav -->
     <li class="nav-item">
        <a class="nav-link collapsed " href="/admin/showCoupon">
          <i class="bi bi-grid"></i>
          <span>Coupon</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed " href="/admin/orders">
          <i class="bi bi-grid"></i>
          <span>Orders</span>
        </a>
      </li><!-- End Dashboard Nav -->

      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/getOfferPage">
          <i class="bi bi-grid"></i>
          <span>Banner</span>
        </a>
      </li><!-- End Error 404 Page Nav -->


      <li class="nav-item">
        <a class="nav-link " href="/admin/salesReport">
          <i class="bi bi-grid"></i>
          <span>Sales Report</span>
        </a>
      </li><!-- End Error 404 Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
               <h2 class="text-center pb-4 pt-4">SALES REPORT</h2>
<div class="d-flex justify-content-between">
                           <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <a href="/admin/orders">
                    <h5 class="card-title">Orders</h5>

                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{salesCount}}</h6>
                      </div>
                    </div>
                  </a>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Revenue</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{salesSum}}</h6>


                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <a href="/admin/users">
                    <h5 class="card-title">Customers</h5>

                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-people"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{userCount}}</h6>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

            </div><!-- End Customers Card -->
            </div>
            <div class="input-group">
              <form action="/admin/salesReport" method="get">
                From: <input class="form-control" type="date" name="startDate"> To: <input class="form-control"
                  type="date" name="endDate">
                <button type="submit" class="btn btn-sm btn-warning rounded mt-4">Filter</button>
              </form>
            </div>
              <div class=" mt-4 ms-5 mb-4">
              <a href="/admin/salesReport?filter=thisMonth" class="btn btn-sm border btn-light" type="button"> This Month </a>
              <a href="/admin/salesReport?filter=lastMonth" class="btn btn-sm border btn-light" type="button"> Last Month </a>
              <a href="/admin/salesReport?filter=thisYear" class="btn btn-sm border btn-light" type="button"> This Year </a>
              <a href="/admin/salesReport?filter=lastYear" class="btn btn-sm border btn-light" type="button"> Last Year </a>
            </div>

              <!-- Table with hoverable rows -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">NO</th>
                    <th scope="col">user</th>
                    <th scope="col">Product</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Payment Status</th>
                  </tr>
                </thead>
                <tbody>
                  
                    {{#each deliveredOrders}}
                  <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td>{{this.address.name}}</td>
                    <td>{{this.product.productName}}</td>
                    <td>{{this.dispatch}}</td>
                    <td>{{this.product.productPrice}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.total}}</td>
                    <td>{{this.orderStatus}}</td>
                    <td>{{this.paymentStatus}}</td>
                  </tr>
                    {{/each}}
                 
                </tbody>
              </table>
              <!-- End Table with hoverable rows -->

  </main><!-- End #main -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>


<script>
  function downloadPDF() {
    console.log('jii')
    const table = document.getElementById('table-id');
    const tableHTML = table.outerHTML;
    const fileName = 'table' + new Date() + '.pdf';

    html2pdf().from(tableHTML).save(fileName);
  }
</script>
  <!-- Vendor JS Files -->
  <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/vendor/quill/quill.min.js"></script>
  <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
</body>

</html>